In [236]:
import numpy as np
import pandas as pd

In [238]:
df = pd.read_csv("cars93.csv")
df.head()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,3259500,25,Driver only,140,5,26.5,11.0
1,Acura,Legend,Midsize,6949500,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,5965500,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,7728500,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,6150000,22,Driver only,208,4,27.0,13.0

In [239]:
print("Total number of records: ", df.shape[0])
print("Total number of columns: ", len(df.columns))

Total number of records:  93
Total number of columns:  10

### Checking for missing values

In [240]:
df.isna().sum() #column wise

Manufacturer       0
Model              0
Type               0
Price              0
MPG.city           0
AirBags           14
Horsepower         0
Passengers         0
Rear.seat.room     2
Luggage.room      11
dtype: int64

### Imputing the missing values

#### 1. Luggage.room

In [186]:
df["Luggage.room"].mean()

13.890243902439025

In [187]:
df["Luggage.room"].median()

14.0

In [188]:
df['Luggage.room'] = df['Luggage.room'].fillna(value=df['Luggage.room'].median())

In [189]:
df.isna().sum()

Manufacturer       0
Model              0
Type               0
Price              0
MPG.city           0
AirBags           14
Horsepower         0
Passengers         0
Rear.seat.room     2
Luggage.room       0
dtype: int64

#### 2. Rear.seat.room

In [190]:
df["Rear.seat.room"].mean()

27.82967032967033

In [191]:
df["Rear.seat.room"].median()

27.5

In [192]:
df['Rear.seat.room'] = df['Rear.seat.room'].fillna(value=df['Rear.seat.room'].median())

In [193]:
df.isna().sum()

Manufacturer       0
Model              0
Type               0
Price              0
MPG.city           0
AirBags           14
Horsepower         0
Passengers         0
Rear.seat.room     0
Luggage.room       0
dtype: int64

#### 3. AirBags

In [194]:
df["AirBags"].mode()

0    Driver only
dtype: object

In [195]:
df["AirBags"].mode().values[0]

'Driver only'

In [196]:
df['AirBags'] = df['AirBags'].fillna(value=df['AirBags'].mode().values[0])

In [197]:
df.isna().sum()

Manufacturer      0
Model             0
Type              0
Price             0
MPG.city          0
AirBags           0
Horsepower        0
Passengers        0
Rear.seat.room    0
Luggage.room      0
dtype: int64

#### Assessing the linear relationship

In [198]:
df[["Horsepower", "MPG.city"]].corr()

            Horsepower  MPG.city
Horsepower    1.000000 -0.672636
MPG.city     -0.672636  1.000000

In [199]:
df[["Price", "MPG.city", "Passengers"]].corr()

               Price  MPG.city  Passengers
Price       1.000000 -0.594562    0.057860
MPG.city   -0.594562  1.000000   -0.416856
Passengers  0.057860 -0.416856    1.000000

In [200]:
df.corr()

,Price,MPG.city,Horsepower,Passengers,Rear.seat.room,Luggage.room
Price,1.000000,-0.594562,0.788218,0.057860,0.297898,0.355827
MPG.city,-0.594562,1.000000,-0.672636,-0.416856,-0.378071,-0.466621
Horsepower,0.788218,-0.672636,1.000000,0.009264,0.230654,0.331115
Passengers,0.057860,-0.416856,0.009264,1.000000,0.629517,0.423096
Rear.seat.room,0.297898,-0.378071,0.230654,0.629517,1.000000,0.591162
Luggage.room,0.355827,-0.466621,0.331115,0.423096,0.591162,1.000000

### Data Encoding

In [201]:
df.columns

Index(['Manufacturer', 'Model', 'Type', 'Price', 'MPG.city', 'AirBags',
       'Horsepower', 'Passengers', 'Rear.seat.room', 'Luggage.room'],
      dtype='object')

In [202]:
len(df["Manufacturer"].unique())

32

In [203]:
len(df["Model"].unique())

93

In [204]:
len(df["Type"].unique())

6

In [205]:
len(df["AirBags"].unique())

2

In [209]:
32+93+6+2

133

In [206]:
df.head()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,3259500,25,Driver only,140,5,26.5,11.0
1,Acura,Legend,Midsize,6949500,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,5965500,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,7728500,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,6150000,22,Driver only,208,4,27.0,13.0

#### 1. Using pd.get_dummies()

In [207]:
pd.get_dummies(df)

,Price,MPG.city,Horsepower,Passengers,Rear.seat.room,Luggage.room,Manufacturer_Acura,Manufacturer_Audi,Manufacturer_BMW,Manufacturer_Buick,...,Model_Town_Car,Model_Vision,Type_Compact,Type_Large,Type_Midsize,Type_Small,Type_Sporty,Type_Van,AirBags_Driver & Passenger,AirBags_Driver only
0,3259500,25,140,5,26.5,11.0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,6949500,18,200,5,30.0,15.0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,5965500,20,172,5,28.0,14.0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
3,7728500,19,172,6,31.0,17.0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
4,6150000,22,208,4,27.0,13.0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,4038500,17,109,7,34.0,14.0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
89,4100000,21,134,5,31.5,14.0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
90,4776500,18,178,4,26.0,15.0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
91,4653500,21,114,5,29.5,14.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
92,5473500,20,168,5,30.0,15.0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [208]:
pd.get_dummies(df).columns.to_list()

['Price',
 'MPG.city',
 'Horsepower',
 'Passengers',
 'Rear.seat.room',
 'Luggage.room',
 'Manufacturer_Acura',
 'Manufacturer_Audi',
 'Manufacturer_BMW',
 'Manufacturer_Buick',
 'Manufacturer_Cadillac',
 'Manufacturer_Chevrolet',
 'Manufacturer_Chrylser',
 'Manufacturer_Chrysler',
 'Manufacturer_Dodge',
 'Manufacturer_Eagle',
 'Manufacturer_Ford',
 'Manufacturer_Geo',
 'Manufacturer_Honda',
 'Manufacturer_Hyundai',
 'Manufacturer_Infiniti',
 'Manufacturer_Lexus',
 'Manufacturer_Lincoln',
 'Manufacturer_Mazda',
 'Manufacturer_Mercedes-Benz',
 'Manufacturer_Mercury',
 'Manufacturer_Mitsubishi',
 'Manufacturer_Nissan',
 'Manufacturer_Oldsmobile',
 'Manufacturer_Plymouth',
 'Manufacturer_Pontiac',
 'Manufacturer_Saab',
 'Manufacturer_Saturn',
 'Manufacturer_Subaru',
 'Manufacturer_Suzuki',
 'Manufacturer_Toyota',
 'Manufacturer_Volkswagen',
 'Manufacturer_Volvo',
 'Model_100',
 'Model_190E',
 'Model_240',
 'Model_300E',
 'Model_323',
 'Model_535i',
 'Model_626',
 'Model_850',
 'Model_90',
 'Model_900',
 'Model_Accord',
 'Model_Achieva',
 'Model_Aerostar',
 'Model_Altima',
 'Model_Astro',
 'Model_Bonneville',
 'Model_Camaro',
 'Model_Camry',
 'Model_Capri',
 'Model_Caprice',
 'Model_Caravan',
 'Model_Cavalier',
 'Model_Celica',
 'Model_Century',
 'Model_Civic',
 'Model_Colt',
 'Model_Concorde',
 'Model_Continental',
 'Model_Corrado',
 'Model_Corsica',
 'Model_Corvette',
 'Model_Cougar',
 'Model_Crown_Victoria',
 'Model_Cutlass_Ciera',
 'Model_DeVille',
 'Model_Diamante',
 'Model_Dynasty',
 'Model_ES300',
 'Model_Eighty-Eight',
 'Model_Elantra',
 'Model_Escort',
 'Model_Eurovan',
 'Model_Excel',
 'Model_Festiva',
 'Model_Firebird',
 'Model_Fox',
 'Model_Grand_Prix',
 'Model_Imperial',
 'Model_Integra',
 'Model_Justy',
 'Model_Laser',
 'Model_LeBaron',
 'Model_LeMans',
 'Model_LeSabre',
 'Model_Legacy',
 'Model_Legend',
 'Model_Loyale',
 'Model_Lumina',
 'Model_Lumina_APV',
 'Model_MPV',
 'Model_Maxima',
 'Model_Metro',
 'Model_Mirage',
 'Model_Mustang',
 'Model_Passat',
 'Model_Prelude',
 'Model_Previa',
 'Model_Probe',
 'Model_Protege',
 'Model_Q45',
 'Model_Quest',
 'Model_RX-7',
 'Model_Riviera',
 'Model_Roadmaster',
 'Model_SC300',
 'Model_SL',
 'Model_Scoupe',
 'Model_Sentra',
 'Model_Seville',
 'Model_Shadow',
 'Model_Silhouette',
 'Model_Sonata',
 'Model_Spirit',
 'Model_Stealth',
 'Model_Storm',
 'Model_Summit',
 'Model_Sunbird',
 'Model_Swift',
 'Model_Taurus',
 'Model_Tempo',
 'Model_Tercel',
 'Model_Town_Car',
 'Model_Vision',
 'Type_Compact',
 'Type_Large',
 'Type_Midsize',
 'Type_Small',
 'Type_Sporty',
 'Type_Van',
 'AirBags_Driver & Passenger',
 'AirBags_Driver only']

In [210]:
pd.get_dummies(df,drop_first=True)

,Price,MPG.city,Horsepower,Passengers,Rear.seat.room,Luggage.room,Manufacturer_Audi,Manufacturer_BMW,Manufacturer_Buick,Manufacturer_Cadillac,...,Model_Tempo,Model_Tercel,Model_Town_Car,Model_Vision,Type_Large,Type_Midsize,Type_Small,Type_Sporty,Type_Van,AirBags_Driver only
0,3259500,25,140,5,26.5,11.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,6949500,18,200,5,30.0,15.0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,5965500,20,172,5,28.0,14.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,7728500,19,172,6,31.0,17.0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,6150000,22,208,4,27.0,13.0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,4038500,17,109,7,34.0,14.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
89,4100000,21,134,5,31.5,14.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
90,4776500,18,178,4,26.0,15.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
91,4653500,21,114,5,29.5,14.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
92,5473500,20,168,5,30.0,15.0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

#### 2. Using sklearn's OneHotEncoder

In [211]:
from sklearn.preprocessing import OneHotEncoder

In [212]:
onehot = OneHotEncoder()

In [213]:
onehot.fit_transform(df[["Type"]])

<93x6 sparse matrix of type '<class 'numpy.float64'>'
	with 93 stored elements in Compressed Sparse Row format>

In [214]:
onehot.fit_transform(df[["Type"]]).toarray()

array([[0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.]])

In [215]:
onehot.categories_

[array(['Compact', 'Large', 'Midsize', 'Small', 'Sporty', 'Van'],
       dtype=object)]

In [216]:
df["Type"]

0       Small
1     Midsize
2     Compact
3     Midsize
4     Midsize
       ...
88        Van
89    Compact
90     Sporty
91    Compact
92    Midsize
Name: Type, Length: 93, dtype: object

In [217]:
encoded = pd.DataFrame(onehot.fit_transform(df[["Type"]]).toarray())
encoded.head()

     0    1    2    3    4    5
0  0.0  0.0  0.0  1.0  0.0  0.0
1  0.0  0.0  1.0  0.0  0.0  0.0
2  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  1.0  0.0  0.0  0.0
4  0.0  0.0  1.0  0.0  0.0  0.0

In [235]:
pd.concat([df, encoded], axis=1)

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room,0,1,2,3,4,5
0,Acura,Integra,Small,3259500,25,Driver only,140,5,26.5,11.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Acura,Legend,Midsize,6949500,18,Driver & Passenger,200,5,30.0,15.0,0.0,0.0,1.0,0.0,0.0,0.0
2,Audi,90,Compact,5965500,20,Driver only,172,5,28.0,14.0,1.0,0.0,0.0,0.0,0.0,0.0
3,Audi,100,Midsize,7728500,19,Driver & Passenger,172,6,31.0,17.0,0.0,0.0,1.0,0.0,0.0,0.0
4,BMW,535i,Midsize,6150000,22,Driver only,208,4,27.0,13.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,4038500,17,Driver & Passenger,109,7,34.0,14.0,0.0,0.0,0.0,0.0,0.0,1.0
89,Volkswagen,Passat,Compact,4100000,21,Driver & Passenger,134,5,31.5,14.0,1.0,0.0,0.0,0.0,0.0,0.0
90,Volkswagen,Corrado,Sporty,4776500,18,Driver & Passenger,178,4,26.0,15.0,0.0,0.0,0.0,0.0,1.0,0.0
91,Volvo,240,Compact,4653500,21,Driver only,114,5,29.5,14.0,1.0,0.0,0.0,0.0,0.0,0.0
92,Volvo,850,Midsize,5473500,20,Driver & Passenger,168,5,30.0,15.0,0.0,0.0,1.0,0.0,0.0,0.0

### Data Normalization

#### 1. Min-Max Scaler

In [219]:
from sklearn.preprocessing import MinMaxScaler

In [220]:
min_max = MinMaxScaler()

In [226]:
price_normalized = min_max.fit_transform(df[["Price"]])
price_normalized

array([[0.1559633 ],
       [0.48623853],
       [0.39816514],
       [0.5559633 ],
       [0.4146789 ],
       [0.15229358],
       [0.24587156],
       [0.29908257],
       [0.34678899],
       [0.50091743],
       [0.6       ],
       [0.11009174],
       [0.0733945 ],
       [0.1412844 ],
       [0.1559633 ],
       [0.16330275],
       [0.16880734],
       [0.20917431],
       [0.56146789],
       [0.20183486],
       [0.15412844],
       [0.40550459],
       [0.03302752],
       [0.07155963],
       [0.10825688],
       [0.21284404],
       [0.15045872],
       [0.33761468],
       [0.08807339],
       [0.21834862],
       [0.        ],
       [0.04954128],
       [0.07155963],
       [0.1559633 ],
       [0.12110092],
       [0.2293578 ],
       [0.23486239],
       [0.24770642],
       [0.01834862],
       [0.09357798],
       [0.22752294],
       [0.08623853],
       [0.1853211 ],
       [0.01100917],
       [0.04770642],
       [0.04770642],
       [0.11926606],
       [0.74311927],
       [0.37798165],
       [0.51009174],
       [0.49357798],
       [0.5266055 ],
       [0.01651376],
       [0.07706422],
       [0.16697248],
       [0.2146789 ],
       [0.46055046],
       [0.44954128],
       [1.        ],
       [0.12293578],
       [0.13761468],
       [0.05321101],
       [0.34311927],
       [0.08073394],
       [0.15229358],
       [0.2146789 ],
       [0.2587156 ],
       [0.11192661],
       [0.16330275],
       [0.22201835],
       [0.2440367 ],
       [0.12844037],
       [0.0293578 ],
       [0.06788991],
       [0.18899083],
       [0.20366972],
       [0.31192661],
       [0.39082569],
       [0.06788991],
       [0.01834862],
       [0.06422018],
       [0.22201835],
       [0.02201835],
       [0.0440367 ],
       [0.20183486],
       [0.19816514],
       [0.28073394],
       [0.03119266],
       [0.22568807],
       [0.23119266],
       [0.29174312],
       [0.28073394],
       [0.35412844]])

In [227]:
print("Min value: ", price_normalized.min())
print("Max value: ", price_normalized.max())

Min value:  0.0
Max value:  1.0

In [225]:
min_max.fit_transform(df[["Price", "MPG.city"]])

array([[0.1559633 , 0.32258065],
       [0.48623853, 0.09677419],
       [0.39816514, 0.16129032],
       [0.5559633 , 0.12903226],
       [0.4146789 , 0.22580645],
       [0.15229358, 0.22580645],
       [0.24587156, 0.12903226],
       [0.29908257, 0.03225806],
       [0.34678899, 0.12903226],
       [0.50091743, 0.03225806],
       [0.6       , 0.03225806],
       [0.11009174, 0.32258065],
       [0.0733945 , 0.32258065],
       [0.1412844 , 0.12903226],
       [0.1559633 , 0.19354839],
       [0.16330275, 0.09677419],
       [0.16880734, 0.        ],
       [0.20917431, 0.06451613],
       [0.56146789, 0.06451613],
       [0.20183486, 0.16129032],
       [0.15412844, 0.25806452],
       [0.40550459, 0.16129032],
       [0.03302752, 0.4516129 ],
       [0.07155963, 0.25806452],
       [0.10825688, 0.22580645],
       [0.21284404, 0.06451613],
       [0.15045872, 0.19354839],
       [0.33761468, 0.09677419],
       [0.08807339, 0.4516129 ],
       [0.21834862, 0.16129032],
       [0.        , 0.51612903],
       [0.04954128, 0.25806452],
       [0.07155963, 0.22580645],
       [0.1559633 , 0.22580645],
       [0.12110092, 0.29032258],
       [0.2293578 , 0.        ],
       [0.23486239, 0.19354839],
       [0.24770642, 0.09677419],
       [0.01834862, 1.        ],
       [0.09357798, 0.48387097],
       [0.22752294, 0.29032258],
       [0.08623853, 0.87096774],
       [0.1853211 , 0.29032258],
       [0.01100917, 0.4516129 ],
       [0.04770642, 0.22580645],
       [0.04770642, 0.35483871],
       [0.11926606, 0.16129032],
       [0.74311927, 0.06451613],
       [0.37798165, 0.09677419],
       [0.51009174, 0.09677419],
       [0.49357798, 0.06451613],
       [0.5266055 , 0.09677419],
       [0.01651376, 0.4516129 ],
       [0.07706422, 0.41935484],
       [0.16697248, 0.35483871],
       [0.2146789 , 0.09677419],
       [0.46055046, 0.06451613],
       [0.44954128, 0.16129032],
       [1.        , 0.12903226],
       [0.12293578, 0.25806452],
       [0.13761468, 0.12903226],
       [0.05321101, 0.4516129 ],
       [0.34311927, 0.09677419],
       [0.08073394, 0.4516129 ],
       [0.15229358, 0.29032258],
       [0.2146789 , 0.06451613],
       [0.2587156 , 0.19354839],
       [0.11192661, 0.29032258],
       [0.16330275, 0.25806452],
       [0.22201835, 0.09677419],
       [0.2440367 , 0.12903226],
       [0.12844037, 0.25806452],
       [0.0293578 , 0.51612903],
       [0.06788991, 0.25806452],
       [0.18899083, 0.12903226],
       [0.20366972, 0.12903226],
       [0.31192661, 0.12903226],
       [0.39082569, 0.16129032],
       [0.06788991, 0.41935484],
       [0.01834862, 0.58064516],
       [0.06422018, 0.32258065],
       [0.22201835, 0.25806452],
       [0.02201835, 0.77419355],
       [0.0440367 , 0.5483871 ],
       [0.20183486, 0.32258065],
       [0.19816514, 0.22580645],
       [0.28073394, 0.09677419],
       [0.03119266, 0.32258065],
       [0.22568807, 0.06451613],
       [0.23119266, 0.19354839],
       [0.29174312, 0.09677419],
       [0.28073394, 0.19354839],
       [0.35412844, 0.16129032]])

#### 2. Standard Scaler

In [228]:
from sklearn.preprocessing import StandardScaler

In [229]:
std_scaler = StandardScaler()

In [230]:
price_standardized = std_scaler.fit_transform(df[["Price"]])
price_standardized

array([[-3.75720139e-01],
       [ 1.49784409e+00],
       [ 9.98226964e-01],
       [ 1.89337432e+00],
       [ 1.09190518e+00],
       [-3.96537519e-01],
       [ 1.34305680e-01],
       [ 4.36157694e-01],
       [ 7.06783639e-01],
       [ 1.58111361e+00],
       [ 2.14318288e+00],
       [-6.35937393e-01],
       [-8.44111196e-01],
       [-4.58989660e-01],
       [-3.75720139e-01],
       [-3.34085378e-01],
       [-3.02859307e-01],
       [-7.38681238e-02],
       [ 1.92460039e+00],
       [-1.15502884e-01],
       [-3.86128829e-01],
       [ 1.03986172e+00],
       [-1.07310238e+00],
       [-8.54519886e-01],
       [-6.46346083e-01],
       [-5.30507434e-02],
       [-4.06946209e-01],
       [ 6.54740188e-01],
       [-7.60841675e-01],
       [-2.18246729e-02],
       [-1.26045880e+00],
       [-9.79424168e-01],
       [-8.54519886e-01],
       [-3.75720139e-01],
       [-5.73485252e-01],
       [ 4.06274681e-02],
       [ 7.18535386e-02],
       [ 1.44714370e-01],
       [-1.15637190e+00],
       [-7.29615604e-01],
       [ 3.02187779e-02],
       [-7.71250365e-01],
       [-2.09181096e-01],
       [-1.19800666e+00],
       [-9.89832859e-01],
       [-9.89832859e-01],
       [-5.83893942e-01],
       [ 2.95506072e+00],
       [ 8.83731372e-01],
       [ 1.63315706e+00],
       [ 1.53947885e+00],
       [ 1.72683528e+00],
       [-1.16678059e+00],
       [-8.23293816e-01],
       [-3.13267998e-01],
       [-4.26420533e-02],
       [ 1.35212243e+00],
       [ 1.28967029e+00],
       [ 4.41227734e+00],
       [-5.63076562e-01],
       [-4.79807040e-01],
       [-9.58606788e-01],
       [ 6.85966258e-01],
       [-8.02476436e-01],
       [-3.96537519e-01],
       [-4.26420533e-02],
       [ 2.07166511e-01],
       [-6.25528703e-01],
       [-3.34085378e-01],
       [-1.00729260e-03],
       [ 1.23896989e-01],
       [-5.31850491e-01],
       [-1.09391976e+00],
       [-8.75337267e-01],
       [-1.88363716e-01],
       [-1.05094194e-01],
       [ 5.09018526e-01],
       [ 9.56592203e-01],
       [-8.75337267e-01],
       [-1.15637190e+00],
       [-8.96154647e-01],
       [-1.00729260e-03],
       [-1.13555452e+00],
       [-1.01065024e+00],
       [-1.15502884e-01],
       [-1.36320265e-01],
       [ 3.32070793e-01],
       [-1.08351107e+00],
       [ 1.98100877e-02],
       [ 5.10361582e-02],
       [ 3.94522934e-01],
       [ 3.32070793e-01],
       [ 7.48418399e-01]])

In [232]:
std_scaler.fit_transform(df[["Price", "MPG.city"]])

array([[-3.75720139e-01,  4.71312488e-01],
       [ 1.49784409e+00, -7.81032122e-01],
       [ 9.98226964e-01, -4.23219377e-01],
       [ 1.89337432e+00, -6.02125750e-01],
       [ 1.09190518e+00, -6.54066309e-02],
       [-3.96537519e-01, -6.54066309e-02],
       [ 1.34305680e-01, -6.02125750e-01],
       [ 4.36157694e-01, -1.13884487e+00],
       [ 7.06783639e-01, -6.02125750e-01],
       [ 1.58111361e+00, -1.13884487e+00],
       [ 2.14318288e+00, -1.13884487e+00],
       [-6.35937393e-01,  4.71312488e-01],
       [-8.44111196e-01,  4.71312488e-01],
       [-4.58989660e-01, -6.02125750e-01],
       [-3.75720139e-01, -2.44313004e-01],
       [-3.34085378e-01, -7.81032122e-01],
       [-3.02859307e-01, -1.31775124e+00],
       [-7.38681238e-02, -9.59938495e-01],
       [ 1.92460039e+00, -9.59938495e-01],
       [-1.15502884e-01, -4.23219377e-01],
       [-3.86128829e-01,  1.13499742e-01],
       [ 1.03986172e+00, -4.23219377e-01],
       [-1.07310238e+00,  1.18693798e+00],
       [-8.54519886e-01,  1.13499742e-01],
       [-6.46346083e-01, -6.54066309e-02],
       [-5.30507434e-02, -9.59938495e-01],
       [-4.06946209e-01, -2.44313004e-01],
       [ 6.54740188e-01, -7.81032122e-01],
       [-7.60841675e-01,  1.18693798e+00],
       [-2.18246729e-02, -4.23219377e-01],
       [-1.26045880e+00,  1.54475072e+00],
       [-9.79424168e-01,  1.13499742e-01],
       [-8.54519886e-01, -6.54066309e-02],
       [-3.75720139e-01, -6.54066309e-02],
       [-5.73485252e-01,  2.92406115e-01],
       [ 4.06274681e-02, -1.31775124e+00],
       [ 7.18535386e-02, -2.44313004e-01],
       [ 1.44714370e-01, -7.81032122e-01],
       [-1.15637190e+00,  4.22834632e+00],
       [-7.29615604e-01,  1.36584435e+00],
       [ 3.02187779e-02,  2.92406115e-01],
       [-7.71250365e-01,  3.51272083e+00],
       [-2.09181096e-01,  2.92406115e-01],
       [-1.19800666e+00,  1.18693798e+00],
       [-9.89832859e-01, -6.54066309e-02],
       [-9.89832859e-01,  6.50218860e-01],
       [-5.83893942e-01, -4.23219377e-01],
       [ 2.95506072e+00, -9.59938495e-01],
       [ 8.83731372e-01, -7.81032122e-01],
       [ 1.63315706e+00, -7.81032122e-01],
       [ 1.53947885e+00, -9.59938495e-01],
       [ 1.72683528e+00, -7.81032122e-01],
       [-1.16678059e+00,  1.18693798e+00],
       [-8.23293816e-01,  1.00803161e+00],
       [-3.13267998e-01,  6.50218860e-01],
       [-4.26420533e-02, -7.81032122e-01],
       [ 1.35212243e+00, -9.59938495e-01],
       [ 1.28967029e+00, -4.23219377e-01],
       [ 4.41227734e+00, -6.02125750e-01],
       [-5.63076562e-01,  1.13499742e-01],
       [-4.79807040e-01, -6.02125750e-01],
       [-9.58606788e-01,  1.18693798e+00],
       [ 6.85966258e-01, -7.81032122e-01],
       [-8.02476436e-01,  1.18693798e+00],
       [-3.96537519e-01,  2.92406115e-01],
       [-4.26420533e-02, -9.59938495e-01],
       [ 2.07166511e-01, -2.44313004e-01],
       [-6.25528703e-01,  2.92406115e-01],
       [-3.34085378e-01,  1.13499742e-01],
       [-1.00729260e-03, -7.81032122e-01],
       [ 1.23896989e-01, -6.02125750e-01],
       [-5.31850491e-01,  1.13499742e-01],
       [-1.09391976e+00,  1.54475072e+00],
       [-8.75337267e-01,  1.13499742e-01],
       [-1.88363716e-01, -6.02125750e-01],
       [-1.05094194e-01, -6.02125750e-01],
       [ 5.09018526e-01, -6.02125750e-01],
       [ 9.56592203e-01, -4.23219377e-01],
       [-8.75337267e-01,  1.00803161e+00],
       [-1.15637190e+00,  1.90256347e+00],
       [-8.96154647e-01,  4.71312488e-01],
       [-1.00729260e-03,  1.13499742e-01],
       [-1.13555452e+00,  2.97600171e+00],
       [-1.01065024e+00,  1.72365710e+00],
       [-1.15502884e-01,  4.71312488e-01],
       [-1.36320265e-01, -6.54066309e-02],
       [ 3.32070793e-01, -7.81032122e-01],
       [-1.08351107e+00,  4.71312488e-01],
       [ 1.98100877e-02, -9.59938495e-01],
       [ 5.10361582e-02, -2.44313004e-01],
       [ 3.94522934e-01, -7.81032122e-01],
       [ 3.32070793e-01, -2.44313004e-01],
       [ 7.48418399e-01, -4.23219377e-01]])